.slideshow-container{
    position: relative;
    width: 100%;
    margin:auto ;
}

.slideshow-image {
    max-width: 100%; 
  }

  .caroussel-pictures{
    border-radius: 25px;
    height: 415px;
    width: 100%;
    object-fit: cover;
    @media screen and (max-width:768px) {
      height: 255px;
      width: 100%;
        
    }  
  }

  .overlay-icones {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    pointer-events: none;  

   
    
  }

  .overlay-icones button{
  background: none;
  border: none;
  cursor: pointer;
  pointer-events: auto;


  }

  .slide-number{
    color: white;
    font-size: 16px;
    margin-bottom: 10px;
    position: absolute; 
    bottom: 10px; 
    left: 50%; 
    transform: translateX(-50%);

    @media screen and (max-width:768px) {
  
      font-size: 12px;
}
  }

 .slideshow-button{

  @media screen and (max-width:768px) {
    height: 32px;
    width: 32px;  
  }
 }








