
footer{

    width: 100%;
    box-sizing: border-box;
    
 
   
}


.footer{
    background-color: $color-3;
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    justify-content: center;
    // width: 100%;
    height: 210px;
    padding: 10px;
    
   
}

.logo-kasa-footer{
    width: 120px;
    
}

// .copyright{
//     width: 500px;
// }

