.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;  
}

.navigation{

    display: flex;
    gap: 60px;
    list-style: none;
     
}
.navigation a {

    text-decoration: none;
    color:$color-1;
    size: 24px;
    font-weight: 500;
}

.logo-container{
    width: 15%;
}
.logo-banner{
    width: 100%;
}


