.main-about{
    display: flex;
    flex-direction: column;
    gap:30px;

    @media screen and (max-width:768px) {
    
      gap: 18px;
  }
 }
 
 .paysage-about{
    width: 90%;
    display: block;
    margin: auto;
    border-radius:25px ;
 }


 footer{
   margin: 0;
   padding: 0;
 }

 .banner{
   width: 90%;
 }

 .collapse-about{

  width: 80%;
  display: flex;
  flex-direction: column;
  gap:30px ;
  margin: 0 auto;

  @media screen and (max-width:768px) {
    
    gap: 18px;
    width: 90%;
}
 }


