.page-accueil{
   display: flex;
   flex-direction: column;
   gap: 50px;
   @media screen and (max-width:768px) {
    
      gap: 22px;
  }
}
.banner img {
    
     filter: brightness(80%) contrast(120%);
     height: 223px;

     @media screen and (max-width:768px) {
    
      height: 100%;
  }

  }

  .section-logements{
   display: grid;
   grid-template-columns: repeat(3,1fr);
   gap:45px ;
   background-color: #F6F6F6;
   padding: 45px;
   width: 90%;
   margin: 0 auto;
   border-radius: 10px;
   @media screen and (max-width:768px) {
      display: flex;
      flex-direction: column;
      gap: 22px;
      padding: 0 ;
      background-color: white;
     }
  }

  .card{
   height: 340px;
   width: auto;
  
}




 
