@import "../../styles/settings.scss";

.owner-info{
    display: flex;  
    align-items: center;
    gap: 10px;
}

.owner-picture{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;

    @media screen and (max-width:768px) {
  
        width: 32px;
        height: 32px;
        
  }
}

.owner-name{
    text-align: end;
    color: $color-1;
    font-size: 18px;

    @media screen and (max-width:768px) {
    
        font-size: 12px;
}

}