
$color-1: #FF6060;
$color-2: #F6F6F6;
$color-3: #000000;

footer{
    width: 100%;
    box-sizing: border-box;
}

footer{
    background-color: $color-3;
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    justify-content: center;
    height: 210px;
    padding: 10px;
 
}

.logo-kasa-footer{
    width: 120px;    
}
