
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root{
    display: flex;
    flex-direction: column;
    gap: 40px;
    @media screen and (max-width:768px) {
       gap: 22px;
        
    }
     
    .page-container{
       width: 100%;
       max-width: 1440px;
       margin : 0px auto;
       display: flex;
    flex-direction: column;
    gap:40px;
    @media screen and (max-width:768px) {
        gap: 18px;
         
     }
    }   
}

header{
    width: 90%;
    margin: 0 auto;
}

